<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <icon src="icon.png" />

    <name>Blueloft-email</name>
    <description>
       Esta aplicacion es parte de la innovacion tecnologica del Blueloft international team
    </description>
    <author email="admin@blueloft.do" href="http://blueloft.do">
        Admin
    </author>

    
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <allow-navigation href="*" />
    <access origin="*" />

</widget>
